.icon-text-card-deck .card-deck:lang(fr-fr) .card {
    word-break: break-word;
}

.icon-text-card-deck .card-deck.double .card {
    border-top: 3px solid #0077CC;
}

.icon-text-card-deck .labels .row {
    margin: 0;
}

.icon-text-card-deck .labels .row .label {
    margin-top: 24px;
    border-top: 1px solid #D4DAE5;
}

@media screen and (max-width: 991px) {
    .icon-text-card-deck .labels {
        display: none;
    }

    .card-grid-3x1 {
        grid-auto-flow: row;
        grid-template-areas:".";
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns:1fr 1fr;
        -ms-grid-rows: auto 32px auto;
        grid-template-rows:auto auto;
    }

    .card-grid-4x1 {
        grid-row-gap: 32px;
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns:1fr 1fr;
        -ms-grid-rows: auto auto;
        grid-template-rows:auto auto;
    }

    .card-grid {
        margin-top: 32px;
    }
}

@media screen and (max-width: 768px) {
    .icon-text-card-deck .card-deck {
        margin: 0;
    }

    .icon-text-card-deck .label {
        margin: 0 0 24px 0;
        border-top: none;
    }

    .card-grid-4x1 {
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns:1fr 1fr;
    }
}

@media screen and (max-width: 767px) {
    .icon-text-card-deck .card-deck {
        margin: 0;
    }
}

@media screen and (max-width: 575px) {
    .card-grid-2x1 {
        grid-template-columns:1fr;
        grid-template-rows:auto auto;
    }

    .card-grid-3x1 {
        grid-template-columns:1fr;
        grid-template-rows:auto auto auto;
    }

    .card-grid-4x1 {
        grid-template-columns:1fr;
        grid-template-rows:auto auto auto auto;
    }
}
