.social-media {
    position: relative;
    z-index: 1;
}

.social-media .social-btn {
    width: 24px;
    height: 24px;
    cursor: pointer;
    margin-right: 6px;
    display: block;
}

.social-media .social-btn:before {
    height: 0;
    visibility: hidden;
    width: 0;
}

.social-media .social-btn.twitter {
    background: url(/static-res/images/svg/icon-twitter-inactive.svg) no-repeat;
}

.social-media .social-btn.twitter:before {
    content: url(/static-res/images/svg/icon-twitter-active.svg);
}

.social-media .social-btn.twitter:hover {
    background: url(/static-res/images/svg/icon-twitter-active.svg) no-repeat;
}

.social-media .social-btn.facebook {
    background: url(/static-res/images/svg/icon-facebook-inactive.svg) no-repeat;
}

.social-media .social-btn.facebook:before {
    content: url(/static-res/images/svg/icon-facebook-active.svg);
}

.social-media .social-btn.facebook:hover {
    background: url(/static-res/images/svg/icon-facebook-active.svg) no-repeat;
}

.social-media .social-btn.linkedin {
    background: url(/static-res/images/svg/icon-linkedin-inactive.svg) no-repeat;
}

.social-media .social-btn.linkedin:before {
    content: url(/static-res/images/svg/icon-linkedin-active.svg);
}

.social-media .social-btn.linkedin:hover {
    background: url(/static-res/images/svg/icon-linkedin-active.svg) no-repeat;
}

.social-media .social-btn.reddit {
    background: url(/static-res/images/svg/icon-reddit-inactive.svg) no-repeat;
}

.social-media .social-btn.reddit:before {
    content: url(/static-res/images/svg/icon-reddit-active.svg);
}

.social-media .social-btn.reddit:hover {
    background: url(/static-res/images/svg/icon-reddit.svg) no-repeat;
}

.social-media .social-btn.email {
    background: url(/static-res/images/svg/icon-email-inactive.svg) no-repeat;
}

.social-media .social-btn.email:before {
    content: url(/static-res/images/svg/icon-email-active.svg);
}

.social-media .social-btn.email:hover {
    background: url(/static-res/images/svg/icon-email.svg) no-repeat;
}

.social-card .card {
    max-width: 748px;
    border-radius: 10px;
    border: 1px solid #D4DAE5;
    overflow: hidden;
    padding: 0;
    margin: 0 auto;
}

.social-card .card:before {
    content: '';
    height: 6px;
    background-color: #0077CC;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.social-card .card .card-body {
    padding: 32px;
}

.social-card .card .card-body ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.social-card .card .card-body ul li {
    margin-right: 16px;
    position: relative;
}

.social-card .card .card-body ul li:last-child {
    margin-right: unset;
}

.social-card .card .card-body ul li a {
    display: inline-block;
    border-radius: 50%;
    border: 1px solid #F5F7FA;
    background-color: #F5F7FA;
    width: 48px;
    height: 48px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.social-card .card .card-body ul li a img {
    position: absolute;
    padding: 4px;
    height: 32px;
    width: 32px;
}

.social-card .card .card-body ul li a img.active {
    display: none;
}

.social-card .card .card-body ul li a:hover {
    border: 1px solid #343741;
    background-color: #343741;
}

.social-card .card .card-body ul li a:hover img.inactive {
    display: none;
}

.social-card .card .card-body ul li a:hover img.active {
    display: block;
}

.social-card .card .card-body ul li .tooltips {
    min-width: 120px;
    border: 1px solid #D4DAE5;
    background-color: #fff;
    box-shadow: 0 2px 10px 0 rgba(152, 162, 179, 0.16);
    text-align: center;
    padding: 4px;
    position: absolute;
    left: -75%;
    right: 0;
    top: 135%;
    opacity: 0;
    z-index: 1;
    -webkit-transition: all .5s ease-out;
    transition: all .5s ease-out;
}

.social-card .card .card-body ul li .tooltips:before {
    content: '';
    position: absolute;
    left: 0%;
    bottom: auto;
    right: 0%;
    top: -5px;
    z-index: 9;
    width: 8px;
    height: 8px;
    margin-right: auto;
    margin-left: auto;
    border-right: 1px solid #D4DAE5;
    border-bottom: 1px solid #D4DAE5;
    background-color: #fff;
    -webkit-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

.social-card .card .card-body ul li .tooltips p {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 0;
}

.social-card .card .card-body ul li:hover .tooltips {
    opacity: 1;
    -webkit-transform: translate(0, -10px);
    -ms-transform: translate(0, -10px);
    transform: translate(0, -10px);
}

@media screen and (min-width: 768px) {
    .social-card {
        max-width: 684px;
    }
}

@media screen and (max-width: 480px) {
    .social-card {
        max-width: 311px;
    }
}

@media screen and (max-width: 320px) {
    .social-card {
        max-width: 260px;
    }
}
