.icon-text-card-deck .icon-text-card-item {
    border-radius: 10px;
    padding: 32px;
    border: none;
    overflow: hidden;
    margin: 0px;
    -moz-transition: box-shadow 0.4s ease;
    -webkit-transition: box-shadow 0.4s ease;
    -o-transition: box-shadow 0.4s ease;
    -ms-transition: box-shadow 0.4s ease;
    -webkit-transition: box-shadow 0.4s ease;
    transition: box-shadow 0.4s ease;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
}

.icon-text-card-deck .icon-text-card-item.default-border {
    border: 1px solid #D4DAE5;
}

.icon-text-card-deck .icon-text-card-item:hover {
    -moz-box-shadow: 0px 5px 24px rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: 0px 5px 24px rgba(0, 0, 0, 0.12);
    -o-box-shadow: 0px 5px 24px rgba(0, 0, 0, 0.12);
    -ms-box-shadow: 0px 5px 24px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 5px 24px rgba(0, 0, 0, 0.12);
}

.icon-text-card-deck .icon-text-card-top .icon-32, .icon-text-card-deck .icon-text-card-top .icon-64 {
    margin-bottom: 16px;
}

.icon-text-card-deck .icon-text-card-top .icon-32 img {
    height: 32px;
}

.icon-text-card-deck .icon-text-card-top .icon-64 img {
    height: 64px;
}

.icon-text-card-deck .icon-text-card-top .logo img {
    height: 64px;
    margin: 0px 16px 16px 0px;
}

.icon-text-card-deck .icon-text-card-top .label {
    display: none;
    margin: 0px;
}

.icon-text-card-deck .icon-text-card-body .quote-author {
    font-weight: 700;
}

.icon-text-card-deck .icon-text-card-footer .btn-tertiary {
    padding: 16px 0px 8px 0px;
}

.icon-text-card-deck .card-border {
    position: absolute;
    border-style: none;
    border-width: 1px;
}

.icon-text-card-deck .card-border.card-border-top {
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: auto;
    height: 6px;
    max-height: 6px;
}

.icon-text-card-deck .cta-list {
    position: relative;
}

.icon-text-card-deck .cta-list li {
    padding: 8px 0 8px 0px;
    position: relative;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.icon-text-card-deck .cta-list li .list-circle {
    background: #fff;
    height: 6px;
    margin: 10px 20px 0px 0px;
    min-height: 6px;
    min-width: 6px;
    position: relative;
    width: 6px;
    border-top: 1px solid #0077CC;
    border-right: 1px solid #0077CC;
    border-bottom: 1px solid #0077CC;
    border-left: 1px solid #0077CC;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}

.icon-text-card-deck .cta-list li:first-of-type .connector {
    display: none;
}

.icon-text-card-deck .cta-list li:not(:first-of-type) .connector {
    left: 3px;
    position: absolute;
}

.icon-text-card-deck .cta-list li:not(:first-of-type) .connector:before {
    content: '';
    height: inherit;
    left: 50%;
    margin-left: -1px;
    position: absolute;
    top: unset;
    border-left: 1px solid #DCE1EA;
}

.icon-text-card-deck .cta-list li .list-arrow {
    position: relative;
}

.icon-text-card-deck .cta-list li .list-arrow:before {
    content: "";
    height: 8px;
    margin-left: 5px;
    position: absolute;
    top: 6px;
    width: 8px;
    border-right: 2px solid #0077CC;
    border-bottom: 2px solid #0077CC;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.icon-text-card-deck .cta-list li a {
    -webkit-text-decoration: none;
    text-decoration: none;
}

@media screen and (max-width: 991px) {
    .icon-text-card-deck .icon-text-card-item .icon-text-card-top .label {
        display: block;
    }
}
