#blog-sidebar #fallback-form .submit-form.btn-secondary {
    background: #0077CC;
    color: white;
    border: none !important;
    width: 146px;
    right: -20px;
}

#blog-sidebar .gdpr-text {
    clear: both;
    padding: 0 !important;
}

#blog-sidebar .gdpr-text p.jsx-414292714 {
    font-size: 10px;
}

#blog-sidebar #fallback-form form.fallback .submit-form.btn.single-field {
    position: unset;
}

#blog-sidebar .blog-sidebar-section .icon-text-card-deck {
    padding: 0 !important;
}

.blog-sidebar-section.jsx-414292714 h6 {
    font-size: 16px;
    line-height: normal;
    margin-bottom: 0px;
}

.blog-sidebar-section.jsx-414292714 .mktoForm .mktoOffset {
    display: none;
}

.blog-sidebar-section.jsx-414292714 .mktoForm .mktoFieldWrap {
    margin-right: 0;
}

.blog-sidebar-section.jsx-414292714 .mktoForm .mktoButtonRow {
    margin-top: 15px;
}

.blog-sidebar-section.jsx-414292714 .mktoForm .mktoButtonRow .mktoButton {
    background-color: #0077CC;
    border-radius: unset !important;
    color: white;
    width: 146px;
    margin-bottom: 20px;
}

.blog-sidebar-section.jsx-414292714 .mktoForm .mktoButtonRow .mktoButton:hover {
    background-color: #005A9E;
    border-color: #00a9e5;
}

.blog-sidebar-section.jsx-414292714 .mktoForm input[type='email'] {
    height: 40px !important;
}

.blog-sidebar-section.jsx-414292714 .fallback .button-wrapper .submit-form {
    background: transparent;
    color: #00a9e5;
}

.blog-sidebar-section.jsx-414292714 .fallback .button-wrapper .submit-form:hover {
    background-color: rgba(0, 169, 224, 0.1);
    border-color: #00a9e5;
}

.blog-sidebar-section.jsx-414292714 form.fallback {
    width: 100%;
}

.blog-sidebar-section.jsx-414292714 form.fallback label {
    display: none !important;
}

.blog-sidebar-section.jsx-414292714 form.fallback .button-wrapper {
    margin: 15px 0 0 0 !important;
    position: relative !important;
}

.blog-sidebar-section.jsx-414292714 .fallback .input-wrapper {
    display: block;
    width: 100% !important;
}

.blog-sidebar-section.jsx-414292714 .fallback .input-wrapper input {
    width: 100% !important;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    #fallback-form form.fallback .input-wrapper input {
        min-width: unset !important;
    }

    .blog-sidebar-section.jsx-414292714 .icon-text-card.card .wrapper {
        padding: 16px;
    }
}

@media screen and (max-width: 767px) {
    .blog-sidebar-section.jsx-414292714 {
        margin-top: 64px;
    }
}
