.sidebar-wrapper {
    position: relative;
}

.sidebar-wrapper .content-wrapper {
    cursor: pointer;
}

.sidebar-wrapper .content-wrapper:hover .title h6 {
    -webkit-text-decoration: underline;
    text-decoration: underline;
}

.sidebar-wrapper .patterns img {
    position: absolute;
}

.sidebar-wrapper .patterns .pattern1 {
    top: -32px;
    right: -32px;
    z-index: 1;
}

.sidebar-wrapper .patterns .pattern2 {
    top: 24px;
    right: -16px;
    z-index: 3;
}

.sidebar-wrapper .patterns .pattern3 {
    right: -80px;
    bottom: 80px;
    z-index: 1;
    -webkit-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.sidebar-wrapper .sidebar {
    padding: 32px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 6px 0 rgba(152, 162, 179, 0.25), 0 10px 20px 0 rgba(152, 162, 179, 0.1);
    margin-left: 32px;
    position: relative;
    z-index: 2;
}

.sidebar-wrapper .sidebar .sidebar-header {
    margin-bottom: 32px;
}

.sidebar-wrapper .sidebar .content-wrapper {
    margin-bottom: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid #d4dae5;
}

.sidebar-wrapper .sidebar .button {
    padding-top: 16px;
}

@media screen and (max-width: 991px) {
    .sidebar-wrapper .sidebar {
        margin: 32px 0 0 0;
    }
}
