.subnav-item.jsx-2759306163 {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 8px;
    color: #0077CC;
    -webkit-text-decoration: none !important;
    text-decoration: none !important;
    font-family: Mierb, Inter, arial, sans-serif;;
    font-size: 14px;
    font-weight: 700;
    white-space: normal;
}

.subnav-item.jsx-2759306163 *.jsx-2759306163 {
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.subnav-item.grid-1.jsx-2759306163 {
    grid-template-columns:1fr;
}

.subnav-item.grid-2.jsx-2759306163 {
    grid-template-columns:24px max-content;
}

.subnav-item.no-headline.jsx-2759306163 {
    margin-top: 50px;
}

.subnav-item.jsx-2759306163:hover, .subnav-item.jsx-2759306163:focus {
    color: #005A9E;
    -webkit-text-decoration: underline;
    text-decoration: underline;
}

.subnav-item.jsx-2759306163:hover p.jsx-2759306163, .subnav-item.jsx-2759306163:focus p.jsx-2759306163 {
    color: #005A9E;
}

.subnav-item.jsx-2759306163 div.jsx-2759306163 {
    color: #000;
}

.subnav-item.jsx-2759306163 div.jsx-2759306163 div.jsx-2759306163 {
    color: #000;
    line-height: 20px;
    margin-bottom: 4px;
}

.subnav-item.jsx-2759306163 .icon.jsx-2759306163 {
    display: block;
    width: 24px;
    padding-bottom: 16px;
}

.subnav-item.jsx-2759306163 .icon.jsx-2759306163 img.jsx-2759306163 {
    width: 24px;
    height: auto;
}

.subnav-item.item-link.jsx-2759306163 {
    color: black;
    -webkit-text-decoration: none;
    text-decoration: none;
    border-radius: 8px;
}

.subnav-item.item-link.jsx-2759306163:focus, .subnav-item.item-link.jsx-2759306163:hover, .subnav-item.item-link.jsx-2759306163:active {
    -webkit-text-decoration: none !important;
    text-decoration: none !important;
    background: rgba(6, 119, 204, 0.05);
    color: black;
}

.subnav-item.item-link.jsx-2759306163:focus *.jsx-2759306163, .subnav-item.item-link.jsx-2759306163:hover *.jsx-2759306163, .subnav-item.item-link.jsx-2759306163:active *.jsx-2759306163 {
    color: #0077CC;
    -webkit-text-decoration: none;
    text-decoration: none;
}

.subnav-item.jsx-2759306163 p.jsx-2759306163 {
    color: #535966 !important;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-weight: normal;
    line-height: 18px;
    -webkit-letter-spacing: 0px;
    -moz-letter-spacing: 0px;
    -ms-letter-spacing: 0px;
    letter-spacing: 0px;
    margin-top: 0;
    margin-bottom: 0;
}

.subnav-item.localized.jsx-2759306163 {
    min-height: 45px;
}

.subnav-item.localized.jsx-2759306163 .item.jsx-2759306163 {
    min-height: 35px;
    line-height: 22px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

@media screen and (max-width: 767px) {
    .subnav-item.jsx-2759306163 {
        padding-right: 0;
        width: unset;
    }

    .subnav-item.grid-2.jsx-2759306163 {
        grid-template-columns:24px 1fr;
    }

    .subnav-item.jsx-2759306163 span.jsx-2759306163 {
        -webkit-flex-shrink: unset;
        -ms-flex-negative: unset;
        flex-shrink: unset;
    }
}

@media screen and (max-width: 575px) {
    .subnav-item.jsx-2759306163 {
        width: 100%;
        max-width: unset;
        height: unset;
        margin-bottom: 0;
    }

    .subnav-item.item-link.jsx-2759306163 div.jsx-2759306163 {
        margin-bottom: 0;
    }
}
